<div class="modal fade" id="modalExcluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Tem certeza que deseja excluir este equipamento?
            </div>

            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    data-bs-dismiss="modal"
                >
                    Cancelar
                </button>

                <button 
                    type="button" 
                    class="btn btn-danger"
                    id="btnConfirmarExcluir"
                >
                    🗑️ Excluir
                </button>
            </div>
        </div>
    </div>
</div>
