<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" data-page="home">
            Sistema
        </a>

        <div class="navbar-nav" id="navbar-links">
            <a class="nav-link private" href="#" data-page="home">
                Home
            </a>
            
            <a class="nav-link private" href="#" data-page="equipamentos">
                Equipamentos
            </a>

            <a class="nav-link private" href="#" data-page="meu-acesso">
                Meu Acesso
            </a>
        </div>
    </div>
</nav>
